USE [SMARTBUS]
GO
/****** Object:  Table [dbo].[BANK]    Script Date: 27-Dec-19 7:31:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK](
	[BANKID] [varchar](10) NOT NULL,
	[BANKMONEY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BANKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUS]    Script Date: 27-Dec-19 7:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUS](
	[BUSID] [int] NOT NULL,
	[NUMBERCHAIRBUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 27-Dec-19 7:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[USERID] [varchar](30) NOT NULL,
	[PASSWORDID] [varchar](30) NOT NULL,
	[NAMECUS] [nvarchar](50) NOT NULL,
	[AGECUS] [int] NOT NULL,
	[BANKID] [varchar](10) NOT NULL,
	[ISSTUDENT] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATIONBUS]    Script Date: 27-Dec-19 7:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATIONBUS](
	[NUMBERSTATION] [numeric](18, 0) NOT NULL,
	[BUSID] [int] NOT NULL,
	[ADDRESSSTATION] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRACKER]    Script Date: 27-Dec-19 7:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACKER](
	[USERNAMEID] [varchar](30) NOT NULL,
	[NUMBERBUSID] [int] NOT NULL,
	[POSTIONBUSUP] [int] NOT NULL,
	[POSTIONBUSDOWN] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BANK] ([BANKID], [BANKMONEY]) VALUES (N'admin', 200000)
INSERT [dbo].[BANK] ([BANKID], [BANKMONEY]) VALUES (N'huu', 200000)
INSERT [dbo].[BANK] ([BANKID], [BANKMONEY]) VALUES (N'sang', 200000)
INSERT [dbo].[BUS] ([BUSID], [NUMBERCHAIRBUS]) VALUES (1, 50)
INSERT [dbo].[BUS] ([BUSID], [NUMBERCHAIRBUS]) VALUES (2, 45)
INSERT [dbo].[BUS] ([BUSID], [NUMBERCHAIRBUS]) VALUES (3, 45)
INSERT [dbo].[CUSTOMER] ([USERID], [PASSWORDID], [NAMECUS], [AGECUS], [BANKID], [ISSTUDENT]) VALUES (N'admin', N'123', N'admin', 10, N'admin', 0)
INSERT [dbo].[CUSTOMER] ([USERID], [PASSWORDID], [NAMECUS], [AGECUS], [BANKID], [ISSTUDENT]) VALUES (N'huu', N'123', N'huu', 18, N'huu', 1)
INSERT [dbo].[CUSTOMER] ([USERID], [PASSWORDID], [NAMECUS], [AGECUS], [BANKID], [ISSTUDENT]) VALUES (N'sang', N'1', N'NTS', 18, N'sang', 1)
INSERT [dbo].[STATIONBUS] ([NUMBERSTATION], [BUSID], [ADDRESSSTATION]) VALUES (CAST(1 AS Numeric(18, 0)), 2, N'Cong truong Me Linh')
INSERT [dbo].[STATIONBUS] ([NUMBERSTATION], [BUSID], [ADDRESSSTATION]) VALUES (CAST(2 AS Numeric(18, 0)), 2, N'Truong Cao Thang')
INSERT [dbo].[STATIONBUS] ([NUMBERSTATION], [BUSID], [ADDRESSSTATION]) VALUES (CAST(3 AS Numeric(18, 0)), 2, N'Nguyen Thi Nghia')
INSERT [dbo].[TRACKER] ([USERNAMEID], [NUMBERBUSID], [POSTIONBUSUP], [POSTIONBUSDOWN]) VALUES (N'admin', 1, 1, 2)
INSERT [dbo].[TRACKER] ([USERNAMEID], [NUMBERBUSID], [POSTIONBUSUP], [POSTIONBUSDOWN]) VALUES (N'sang', 2, 1, 5)
INSERT [dbo].[TRACKER] ([USERNAMEID], [NUMBERBUSID], [POSTIONBUSUP], [POSTIONBUSDOWN]) VALUES (N'huu', 1, 1, 5)
ALTER TABLE [dbo].[BANK] ADD  DEFAULT ((200000)) FOR [BANKMONEY]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ((0)) FOR [ISSTUDENT]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_BANKID] FOREIGN KEY([BANKID])
REFERENCES [dbo].[BANK] ([BANKID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_BANKID]
GO
ALTER TABLE [dbo].[STATIONBUS]  WITH CHECK ADD  CONSTRAINT [FK_BUSID] FOREIGN KEY([BUSID])
REFERENCES [dbo].[BUS] ([BUSID])
GO
ALTER TABLE [dbo].[STATIONBUS] CHECK CONSTRAINT [FK_BUSID]
GO
ALTER TABLE [dbo].[TRACKER]  WITH CHECK ADD  CONSTRAINT [FK_NUMBERBUSID] FOREIGN KEY([NUMBERBUSID])
REFERENCES [dbo].[BUS] ([BUSID])
GO
ALTER TABLE [dbo].[TRACKER] CHECK CONSTRAINT [FK_NUMBERBUSID]
GO
ALTER TABLE [dbo].[TRACKER]  WITH CHECK ADD  CONSTRAINT [FK_USERNAMEID] FOREIGN KEY([USERNAMEID])
REFERENCES [dbo].[CUSTOMER] ([USERID])
GO
ALTER TABLE [dbo].[TRACKER] CHECK CONSTRAINT [FK_USERNAMEID]
GO
